{{> header}}
<div class="header">
    <div class="wrapper">
        {{> menu}}
    </div>
    </div>
<div class="wrapper">
    
    Availlable templates:</br>
    {{templates}}
</br></br>
    {{pages}}
    {{#each pages}}
    <div class="data-row">
        {{> pageinfo}}
        {{> editpageform}}
       
    </div>
    {{/each}}
    
    <h2><a href="/addnew">Add new</a></h2>
</div>
{{> footer}}