{{> header}}
<div class="header">
 <div class="wrapper">
  {{> menu}}
 </div>
</div>
<div class="wrapper">
 <h2> Reset</h2>
 <form action="/admin/reset" method="post">
  <div>
   <label>Email:</label>
   <input type="text" name="Email"/>
  </div>
  
  <div>
   <input type="submit" value="Reset"/>
  </div>
 </form>
</div>
{{> footer}}