{{> header}}
<div class="header">
    <div class="wrapper">
        {{> menu}}
    </div>
</div>
<div class="wrapper">
    
    
Users:
    {{#each users}}
    <div style="width:100%; clear:both;">
    
        {{this}}
        
       
    </div>
    {{/each}}
    
    
</div>
{{> footer}}